quickstart/201-machine-learning-moderately-secure/.terraform.lock.hcl
quickstart/201-machine-learning-moderately-secure/terraform.tfstate
quickstart/201-machine-learning-moderately-secure/terraform.tfstate.backup
quickstart/201-machine-learning-moderately-secure/.terraform/*
quickstart/201-machine-learning-moderately-secure/demo.tfplan